<h3>Jason's Music School</h3>
<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= link_to user.name, edit_user_path(user) %>, Next session: <%= user.next_session.to_date if user.next_session %>
    </li>
  <% end %>
</ul>
