<h3>Home</h3>

<% @users.each do |user| %>
  <p>User: <%=link_to user.name, user %></p>
<% end %>

<% if current_user %>
	<%= render 'logged_in' %>
<% else %>
	<%= render 'logged_out_new' %>
<% end %>
